Practical_03/area_under_curve
Practical_04/practical04
Practical_05/practical05
Practical_05/practical05b
Practical_06/*.o
Practical_06/mmc
Practical_07/*.o
Practical_07/finde
Practical_07/practical7b
Practical_08/*.o
Practical_08/gcda
Practical_08/gcdb
Practical_09/ms
Practical_09/*.o
